
/****************************************************************************************************
 * Generic.
 ****************************************************************************************************/

body {
	margin: 0px;
	background-color: #F0F0F0;
	font-size: 16px;
	color: #000;
}

h2 {
	background-color: #999;
	color: white;
	padding: 5px 10px;
	font-variant: small-caps;
}

h3 {
	border-left: 10px solid #666;
	padding-left: 5px;
}

a {
	color: #39b139;
	text-decoration: none;
}

a:hover {
	color: #a4dda4;
	text-decoration: underline;
}

table {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-collapse: collapse;
	margin-top: 30px;
	margin-bottom: 30px;
}

td, th {
	border: 1px solid black;
}

th {
}

footer {
	font-size: 12px;
	color: #666;
	padding-left: 10px;
}

footer p {
	line-height: 16px;
	margin: 0px;
}

/****************************************************************************************************
 * Menu.
 ****************************************************************************************************/

#menubar {
	width: 100%;
	background-color: #333;
	position: fixed;
	top: 0px;
	height: 60px;
}

#menucontainer {
	width: 850px;
	margin-left: auto;
	margin-right: auto;
}

#menucontainer ul {
	padding-left: 30px;
	margin: 0px;
	float: left;
}
#menucontainer li {
	float: left;
	height: 60px;
	list-style-type: none;
}

#menucontainer li a {
	color: #999;
	font-weight: bold;
	text-decoration: none;
	display: block;
	height: 42px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 18px;
}
#menucontainer a:hover {
	color: #CCC !important;
	text-decoration: underline;
}

/****************************************************************************************************
 * Maincontainer.
 ****************************************************************************************************/

#maincontainer {
	width: 800px;
	background-color: #FFF;
	padding-top: 60px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

/****************************************************************************************************
 * Footer.
 ****************************************************************************************************/

/****************************************************************************************************
 * Prices.
 ****************************************************************************************************/

.prices {
	margin: 10px;
}

.prices td {
	font-size: 30px;
	padding: 10px 20px;
	text-align: center;
	width: 80px;
}

.bid-text {
	background-color: #F99;
}

.ask-text {
	background-color: #99F;
}

.issuer-label {
	font-size: 80%;
	color: gray;
}









